body{
    background-image: url(miles/water-1330252__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Boxes{
    display: inline-flex;
    flex-flow: column nowrap;
}
.Name{ 
    display: flex;
    justify-content: center;
    color: red;
}
.about{
    display: inline-flex;
    border-style: double;
    background-image: url(miles/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    align-self: flex-start;
    padding: 25px;
}
.projects{
    display: inline-flex;
    border-style: double;
    background-image: url(miles/523159398-612x612.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 50px;
    align-self: center; 
}
.Skills{
    display: inline-flex;
    border-style: double;
    background-image:url(miles/maxresdefault.jpg); 
    background-repeat: no-repeat;
    background-size:cover; 
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    align-self: flex-end;
    padding: 25px;
    margin-left: 1000px;

}
.Contact{
    display: flex;
    border-style: solid;
    border-color: blue;
    background-color: honeydew;
}