body{
    background-image: url(miles/water-1330252__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Top{
    display: block;
    background-color: white; 
    margin-top: 0px;
}
.nav{
color: red;
text-align: center;
background-color: grey;
}
.Boxes{
    display: flex;
    flex-flow: column wrap;
}
.Name{ 
    display: flex;
    justify-content: center;
    color: red;
}
.about{
    display: inline-flex;
    border-style: double;
    border-color: aliceblue;
    background-color: red;
    color: red;
    /* background-image: url(miles/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    background-repeat: no-repeat;
    background-size:cover;  */
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 25px;
    align-self: center;
}
.projects{
    display: inline-flex;
    border-style: double;
    border-color: aliceblue;
    background-color: green;
    color: black;
    justify-content: center;
    align-items:center;
    flex-flow: column wrap;
    padding: 25px;
    align-self: center; 
    /* background-image: url(miles/523159398-612x612.jpg);
    background-repeat: no-repeat;
    background-size:cover;  */
    /* justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    padding: 50px;
    align-self: center;  */
}
.Pro2{
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
}
.Skills{
    display: inline-flex;
    border-style: double;
    border-color: aliceblue;
    background-color: blue;
    color: blue;
    /* background-image:url(miles/maxresdefault.jpg); 
    background-repeat: no-repeat;
    background-size:cover;  */
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-self: center;
    padding: 25px;
}
.Contact{
    display: inline-flex;
    border-style: solid;
    border-color: blue;
    background-color: honeydew;
    padding: 10px;
    justify-content: center;
    /* align-content: space-between; */
    align-items: center;
    flex-flow: column wrap;
}
@viewport {
    width: device-width;
    zoom: 1.0;
}
/* @media screen and (max-width: 320px){
}{
   display: flex;
} */